header {
        
    background-image: url(https://imgs.search.brave.com/bBF8WIn-90JtLFSe0Wb4lCE9IQ7-KQOymsBO12-48Wo/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly93YWxs/cGFwZXJzLmNvbS9p/bWFnZXMvaGQvcmVk/LXNhdGFuaWMtcG9z/dGVyLXdpdGgtc2t1/bGxzLWtqbjM1YXQy/bXVhejZhNWEuanBn);
    image-resolution: inherit;
    text-align: center;
    padding: 10px;
}

body {
    background-color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

main {
    color: red;
    font-family: 'Times New Roman', Times, serif;
}

footer {
    background-color: crimson;
    text-align: center;
    padding: 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
